rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function isUser(userId) {
      return signedIn() && request.auth.uid == userId;
    }

    match /usuarios/{userId} {
      allow create: if isUser(userId);
      allow get, update, delete: if isUser(userId);
      allow list: if false;
    }

    match /colmeias/{hiveId} {
      allow create: if signedIn()
        && request.resource.data.usuarioId == request.auth.uid;

      allow get, delete: if signedIn()
        && resource.data.usuarioId == request.auth.uid;

      allow list: if signedIn()
        && resource.data.usuarioId == request.auth.uid;

      allow update: if signedIn()
        && resource.data.usuarioId == request.auth.uid
        && request.resource.data.usuarioId == request.auth.uid;
    }
  }
}
